body {
    font-family: 'Cairo', sans-serif;
}
.navbar{
    background-color: #f1f4f5;
}

.navbar,.nav-link,.nav-item,.navbar-brand{
    color:#0091A1;
}

.header-background {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    animation: backgroundChange 20s linear infinite;
}

@keyframes backgroundChange {

    0%,
    100% {
        background-image: linear-gradient(rgba(90, 168, 183, 0.8), rgba(90, 168, 183, 0.8)), url(../images/l1.jpg);
    }

    25% {
        background-image: linear-gradient(rgba(90, 168, 183, 0.8), rgba(90, 168, 183, 0.8)), url(../images/l2.jpg);
    }

    50% {
        background-image: linear-gradient(rgba(90, 168, 183, 0.8), rgba(90, 168, 183, 0.8)), url(../images/l3.jpg);
    }

    75% {
        background-image: linear-gradient(rgba(90, 168, 183, 0.8), rgba(90, 168, 183, 0.8)), url(../images/mountains.jpg);
    }
}

.navbar {
    box-shadow: 0px 3px 6px rgb(7, 7, 7);
}

.nav-item>.nav-link {
    font-weight: bold !important;
    font-size: 1.4rem;
    margin-left: 15px;
}


.rotate-image {
    width: 50px;
    height: 50px;
    background-image: url(../images/mlogo.png);
    background-size: cover;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.header-book,
.body-book {
    padding-top: 120px;
}

.cards {
    transform: scale(0.9);
    transition: 1s;

}

.cards:hover {
    transform: scale(1);
}

.social-icons {
    margin-bottom: 30px;
}

.card-body {
    line-height: 1.8;
}

.social-icons a {
    margin-right: 12px;
    font-size: 23px;
    text-decoration: none;
    transition: .5s;
    margin: auto;
}

.author-img {
    position: relative;
    top: -40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
}


.glowing-image {
    width: 220px;
    height: 220px;
    animation: glow 2s infinite;
}

@keyframes glow {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.5);
    }

    100% {
        filter: brightness(1);
    }
}

.social-icons{
    color: #0091A1;
}

footer{
background-color: #0091A1;
}

 footer {
   box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
   /* box-shadow: 0px 0px 6px rgb(0, 0, 10); */

 }
     

.Social-nav{
    float: left;
}

.footer-nav,.Social-nav {
    display: flex;
    list-style: none;
}

.footer-nav li,.Social-nav li {
    margin: 0 10px;
}

.footer-nav li a:link,
.footer-nav li a:visited ,
.Social-nav li a:link,
.Social-nav li a:visited 

{
    color: white;
    text-decoration: none;

  }

.Social-nav li a:link,
.Social-nav li a:visited {
    font-size: 22px;

}
  

.footer-nav li a:hover,
.footer-nav li a:active ,
.Social-nav li a:hover,
.Social-nav li a:active 

{
color: rgb(2, 24, 36);
   
  }
  

.footer-nav li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

.footer-nav li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

.footer-nav li a::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: rgb(227, 235, 236);
    transition: 1s;
}

.footer-nav li a:hover::after {
    width: 100%;
}
